@import "tailwindcss";

@layer base {
    [x-cloak] {
        display: none;
    }
}

@layer components {
    .featured-post-image {
        display: block;
        height: 240px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .post-header-image {
        display: block;
        height: 320px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 375px) {
        .featured-post-image {
            height: 180px;
        }

        .post-header-image {
            max-height: 240px;
        }
    }

    body.disable-scroll {
        height: 100vh;
        overflow: hidden;
    }

    body.disable-scroll #theme-toggle {
        display: none;
    }

    pre {
        @apply my-4 overflow-x-auto rounded;
    }

    pre.torchlight {
        @apply p-0;
    }

    pre code.torchlight {
        @apply block min-w-max py-4;
    }

    pre code.torchlight .line {
        @apply px-4;
    }

    pre code.torchlight .line-number,
    pre code.torchlight .summary-caret {
        @apply mr-4;
    }

    .editor-toolbar {
        background-color: #fff;
        opacity: 0.9;
    }
}